---
import TabLayout from "@layouts/TabLayout.astro";
import { getCollection } from "astro:content";
import { getDate } from "src/lib/post-info";

(await getCollection("article")).forEach(
  (p) => (p.data.pubFromatedDate = getDate(p.data.pubDate))
);

const posts = (await getCollection("article")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<TabLayout tabCategory="article">
  <div class="articles">
    <ul>
      {
        posts.map((post) => (
          <li class="article-li">
            <p class="post-head">
              <time>{post.data.pubFromatedDate}</time>
              {post.data.tags.map((t) => (
                <span class="tag">#{t}</span>
              ))}
            </p>
            <a href={`/blog/article/${post.slug}/`}>{post.data.title}</a>
            <div class="desc">
              <p class="post-desc">{post.body}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</TabLayout>

<style>
  .articles {
    @apply bg-beige max-w-xs sm:max-w-lg md:max-w-xl rounded-3xl my-6 py-3 px-8;
  }
  .article-li {
    @apply flex flex-col justify-center my-4 lg:my-10;
  }
  .post-head {
    @apply text-sm lg:text-base;
  }
  .article-li time {
    @apply text-navy/80 font-semibold my-1 lg:my-3;
  }
  .tag {
    @apply text-error mx-1;
  }
  .article-li a {
    @apply text-base lg:text-xl mt-2 font-medium link lg:link-hover hover:link-error;
  }
  .desc {
    @apply w-auto;
  }
  .post-desc {
    @apply text-xs text-stone-500/80 text-ellipsis overflow-hidden whitespace-nowrap;
  }
</style>
