---
import ToolLinks from "@components/ui/ToolLinks";
import BaseLayout from "@layouts/BaseLayout.astro";
import { myLife, myLikes, snslinks } from "src/constants/constant";

const title = "yajiumについて";
const iconHeadline = "yajium";
const desc = "平和も好きです";
---

<BaseLayout title={title} iconHeadline={iconHeadline} desc={desc}>
  <div class="cards">
    <div class="card">
      <h2>Links</h2>
      <div class="sns-link">
        <ToolLinks />
      </div>
    </div>
    <div class="card">
      <h2>Likes</h2>
      {
        myLikes.map((l) => (
          <div class="like">
            <p class="text-gray-500 dark:text-gray-400">{l.cate}</p>
            <p>{l.detail.join(",")}</p>
          </div>
        ))
      }
    </div>
    <div class="card">
      <h2>Life</h2>
      {
        myLife.map((l) => (
          <div class="life">
            <p class="text-gray-500 dark:text-gray-400">{l.date}</p>
            <p>{l.detail}</p>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>

<style>
  .cards {
    @apply grid grid-rows-1 gap-4 mt-8 my-auto lg:basis-1/2;
  }
  .card {
    @apply rounded-3xl text-sm px-10 md:px-12 py-4 max-w-2xl;
    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  }
  .card h2 {
    @apply text-xl md:text-2xl font-medium md:font-bold flex;
    justify-content: space-between;
  }
  @keyframes fadeup {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .sns-link {
    @apply grid grid-cols-3 gap-0 my-2 md:text-base md:font-medium;
  }
  .like {
    @apply my-3 md:text-base md:font-medium;
  }
  .life {
    @apply my-3 grid grid-cols-2 gap-0 md:text-base md:font-medium;
  }
</style>
