---
import Card from "@components/ui/card";
import BlankLayout from "@layouts/BlankLayout.astro";

const cards = [
  {
    image: "/poketto.png",
    link: "https://poketto-mon.vercel.app/",
    title: "Poketto",
    desc: "好きなポケモンをシェアできるアプリ",
    stack: ["React", "Next.js", "Firebase"],
  },
  {
    image: "/yajium-blog.png",
    link: "https://chiisanaumi.vercel.app/",
    title: "Blog",
    desc: "始めて作ったブログ",
    stack: ["React", "Next.js"],
  },
];
---

<BlankLayout title="Worksをご紹介">
  <div class="content">
    <div class="head">
      <h2>Works</h2>
    </div>
    <div class="cards">
      {
        cards.map((c) => (
          <Card
            image={c.image}
            link={c.link}
            title={c.title}
            desc={c.desc}
            stack={c.stack}
          />
        ))
      }
    </div>
  </div>
</BlankLayout>

<style>
  .head h2 {
    @apply text-4xl text-center my-10 text-beige;
  }
  .cards {
    @apply mx-9 grid grid-cols-1 lg:grid-cols-3 lg:gap-6 place-items-center animate-slideIn;
  }
</style>
