---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Sidebar from "@components/Sidebar.astro";
import NavigationMenu from "@components/NavigationMenu.tsx";
import Navigation from "@components/Navigation.astro";

type Props = {
  title: string;
  iconHeadline?: string;
  desc?: string;
  isHome?: boolean;
};

const { title, iconHeadline, desc, isHome } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Navigation />
    <NavigationMenu client:load />
    <Header iconHeadline={iconHeadline} desc={desc} isHome={isHome} />
    <main>
      <div class="contents">
        <Sidebar iconHeadline={iconHeadline} desc={desc} isHome={isHome} />
        <slot />
      </div>
    </main>
    <Footer />
    <style>
      main {
        @apply container mx-auto my-auto;
      }
      .contents {
        @apply lg:flex lg:justify-center;
      }
    </style>
  </body>
</html>
