---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "zenn-content-css";
import Navigation from "@components/ui/Navigation.astro";
import { getDate } from "src/lib/post-info";
import Sidebar from "@components/Sidebar.astro";
import { NAME, SHORT_INTRO } from "src/constants/constant";
import NavigationMenu from "@components/ui/NavigationMenu.astro";

type Props = CollectionEntry<"article">["data"];

const { title, pubDate, tags } = Astro.props;
const pubFormatedDate = getDate(pubDate);
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={title} />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="https://embed.zenn.studio/js/listen-embed-event.js"
    ></script>
  </head>

  <body>
    <Navigation />
    <NavigationMenu />
    <main>
      <article>
        <div class="head">
          {pubDate && <time>{pubFormatedDate}</time>}
          <div class="post-head">
            <h1 class="title">{title}</h1>
            <ul>{tags.map((t) => <li class="tag">#{t}</li>)}</ul>
          </div>
        </div>
        <slot />
      </article>
      <div class="sidebar">
        <Sidebar iconHeadline={NAME} desc={SHORT_INTRO} />
      </div>
    </main>
    <Footer />
    <style>
      main {
        @apply container mx-auto max-w-screen-xl my-auto flex-none lg:flex;
      }
      .sidebar {
        @apply my-12 lg:basis-1/4 mx-4 text-center;
      }
      article {
        @apply lg:basis-3/4 mx-0 sm:mx-10 bg-navy/10 sm:bg-white;
      }
      .head {
        @apply text-sm sm:text-xl px-5 pt-10;
      }
      .head time {
        @apply text-black/60;
      }
      .title {
        @apply text-xl sm:text-3xl text-gray-700 font-medium;
      }
      .post-head {
        @apply mt-4;
      }
      .post-head ul {
        @apply my-3 self-end flex sm:flex-none;
      }
      .tag {
        @apply text-base sm:text-lg bg-red-600/50 text-white rounded-md mx-1 my-2 px-3 pt-1 pb-1.5;
      }
    </style>
  </body>
</html>
